@media screen and (max-width: 800px) {
    body {
      width: 350px;
    }
  }

body {
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.pageOne {
    background-color: #89cff0;
    /* background-color: rgb(148, 177, 255); */
    
    color: rgb(255, 255, 255);
    .btn {
        background-color: #b4e7ff;
        color: white;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
        font-style: italic;
        margin: 4px 2px;
        cursor: pointer;
        border: none;
        border-radius: 12px;
        transition: background-color 0.3s ease;
    }
}


.finalValentines {
    background-color: #fad8fd;
    /* background-color: rgb(148, 177, 255); */
    
    color: rgb(226, 1, 1);
    .btn {
        background-color: #f4bbfa;
        color: white;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
        font-style: italic;
        margin: 4px 2px;
        cursor: pointer;
        border: none;
        border-radius: 12px;
        transition: background-color 0.3s ease;
}
}

.valentines1 {
    background-color: #fad8fd;
    /* background-color: rgb(148, 177, 255); */
    
    color: rgb(226, 1, 1);
    .btn {
        background-color: #f4bbfa;
        color: white;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
        font-style: italic;
        margin: 4px 2px;
        cursor: pointer;
        border: none;
        border-radius: 12px;
        transition: background-color 0.3s ease;
}
}
.valentines1 {
    background-color: #fad8fd;
    /* background-color: rgb(148, 177, 255); */
    
    color: rgb(226, 1, 1);
    .btn {
        background-color: #f4bbfa;
        color: white;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
        font-style: italic;
        margin: 4px 2px;
        cursor: pointer;
        border: none;
        border-radius: 12px;
        transition: background-color 0.3s ease;
}
}
.valentines2 {
    background-color: #90dfff;
    /* background-color: rgb(148, 177, 255); */
    
    color: rgb(255, 255, 255);
    .btn {
        background-color: rgba(0, 162, 255, 0.548);
        color: white;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
        font-style: italic;
        margin: 4px 2px;
        cursor: pointer;
        border: none;
        border-radius: 12px;
        transition: background-color 0.3s ease;
}
}
.valentines3 {
    background-color: #cf1212;
    /* background-color: rgb(148, 177, 255); */
    
    color: rgb(251, 255, 0);
    .btn {
        background-color: rgba(0, 162, 255, 0.548);
        color: white;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
        font-style: italic;
        margin: 4px 2px;
        cursor: pointer;
        border: none;
        border-radius: 12px;
        transition: background-color 0.3s ease;
}
}
.valentines4 {
    background-color: #ffd8f0;
    /* background-color: rgb(148, 177, 255); */
    
    color: #a5fcff;
    .btn {
        background-color: #ff80ce;
        color: #a5fcff;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
        font-style: italic;
        margin: 4px 2px;
        cursor: pointer;
        border: none;
        border-radius: 12px;
        transition: background-color 0.3s ease;
}
}
.valentines5 {
    background-color: #53c0ff;
    /* background-color: rgb(148, 177, 255); */
    
    color: #ffffff;
    .btn {
        background-color: #1a6a99;
        color: #ffffff;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
        font-style: italic;
        margin: 4px 2px;
        cursor: pointer;
        border: none;
        border-radius: 12px;
        transition: background-color 0.3s ease;
}
}
.valentines6 {
    /* background-color: #fffcd4; */
    /* background-color: rgb(148, 177, 255); */
    
    color: rgb(139, 246, 253);
    /* body { */
        background-image: url("000068330031.jpg");
        background-size:cover;
        background-color: #cccccc;
       /* } */
    .btn {
        background-color: rgb(139, 246, 253);
        color: #fffcd4;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
        font-style: italic;
        margin: 4px 2px;
        cursor: pointer;
        border: none;
        border-radius: 12px;
        transition: background-color 0.3s ease;
}
}

.noTwo {
    /* background-color: #fdffb6; */
    background-color:#9fd2e2;
    font-style: italic;
    color: #f8d486;
    .btn {
        background-color: #eeb2b3;
        color: white;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
        font-style: italic;
        margin: 4px 2px;
        cursor: pointer;
        border: none;
        border-radius: 12px;
        transition: background-color 0.3s ease;
    }

}

.pageTwo {
    background-color:rgb(148, 177, 255);
    font-style: italic;
    color: #f7c8ce;
    .btn {
        background-color: #eeb2b3;
        color: white;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
        font-style: italic;
        margin: 4px 2px;
        cursor: pointer;
        border: none;
        border-radius: 12px;
        transition: background-color 0.3s ease;
    }

}
/* rgb(148, 177, 255); */
.pageThree {
    /* background-color: #fdffb6; */
    background-color: #c3b1e1;
    font-style:italic;
    /* color:rgb(166, 218, 255); */
    color:rgb(160, 236, 255);
    .btn {
        background-color: rgb(160, 236, 255);;
        color: lavender;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
        font-style: italic;
        margin: 4px 2px;
        cursor: pointer;
        border: none;
        border-radius: 12px;
        transition: background-color 0.3s ease;
    }

}

.header {
    text-align: center;
    /* color: rgb(255, 255, 255); */
    font-size: 60px;
    font-style: italic;
    border: #c6c1ff;
    /* border-style: inset; */
    width: fit-content;
    height: fit-content;
    margin: auto;

}
.p {
    text-align: center;
    /* color: rgb(229, 233, 0); */
    font-size: 45px;
    font-style: italic;
    border: #c6c1ff;
    /* border-style: inset; */
    width: fit-content;
    height: fit-content;
    margin: auto;

}

div.question {
    margin-top: 10%;
}
.hidden {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    margin-top: 10000px;
    /* margin-left: 25%; */
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#yesButton, #noButton {
    position: relative;
}

#noButton {
    transition: none; /* Removed default transition */
}

#valentinesButton {
    margin-top: 20px;
}


#tryAgain {
    position:relative;
    margin: 50%;
}
.yesPage{
    font-style: normal;
    background-color: #89cff0;
    .btn {
        background-color: #b4e7ff;
        color: white;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
        font-style: italic;
        margin: 4px 2px;
        cursor: pointer;
        border: none;
        border-radius: 12px;
        transition: background-color 0.3s ease;
        margin: 0;
        position: absolute;
        top: 70%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

.noPage {
    font-style: normal;
    background-color: #89cff0
}

 .center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.trail { /* className for the trail elements */
    position: absolute;
    height: 6px; width: 6px;
    border-radius: 3px;
    background: teal;
  }